/* 
*************************
- CSS Variables
*************************
*/

:root {
  /* Font */

  --ff-fraunces: "Fraunces", serif;
  --ff-dm-sans: "DM Sans", sans-serif;
  --ff-dm-mono: "DM Mono", monospace;

  --fs-900: 2.5rem;
  --fs-800: 2rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1rem;
  --fs-400: 0.875rem;
  --fs-300: 0.75rem;
  --fs-200: 0.625rem;

  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;

  /* Spacing */
  --base-size: 0.25rem;
  --space-1: calc(var(--base-size) * 1);
  --space-2: calc(var(--base-size) * 2);
  --space-3: calc(var(--base-size) * 3);
  --space-4: calc(var(--base-size) * 4);
  --space-5: calc(var(--base-size) * 5);
  --space-6: calc(var(--base-size) * 6);
  --space-7: calc(var(--base-size) * 7);
  --space-8: calc(var(--base-size) * 8);
  --space-9: calc(var(--base-size) * 9);
  --space-10: calc(var(--base-size) * 10);
  --space-11: calc(var(--base-size) * 11);
  --space-12: calc(var(--base-size) * 12);
  --space-13: calc(var(--base-size) * 13);
  --space-14: calc(var(--base-size) * 14);
  --space-15: calc(var(--base-size) * 15);

  /* Line heights */
  --lh-tight: 1.1;
  --lh-default: 1.5;

  /* Colors */
  --clr-neutral-900: hsl(33, 15%, 15%);
  --clr-neutral-800: hsl(33, 22%, 20%);
  --clr-neutral-700: hsl(32, 20%, 29%);
  --clr-neutral-600: hsl(33, 17%, 41%);
  --clr-neutral-400: hsl(36, 22%, 86%);
  --clr-neutral-200: hsl(30, 24%, 93%);
  --clr-neutral-100: hsl(35, 60%, 96%);
  --clr-neutral-50: hsl(40, 60%, 98%);
  --clr-neutral-0: hsl(0, 0%, 100%);

  --clr-sun-500: hsl(42, 83%, 58%);
  --clr-sun-300: hsl(44, 84%, 75%);
  --clr-sun-200: hsl(45, 100%, 74%);
  --clr-sun-50: hsl(41, 100%, 93%);

  --clr-terracotta-700: hsl(15, 69%, 37%);
  --clr-terracotta-600: hsl(15, 74%, 41%);
  --clr-terracotta-500: hsl(18, 62%, 47%);
  --clr-terracotta-400: hsl(22, 72%, 56%);

  --clr-blue-500: hsl(230, 49%, 56%);
  --clr-rose-500: hsl(340, 48%, 52%);

  --clr-black-900: hsl(0, 0%, 20%);
  --clr-black-800: hsl(0, 0%, 25%);
  --clr-black-700: hsl(0, 0%, 30%);
  --clr-black-600: hsl(0, 0%, 40%);
}

/* 
*************************
- Global Reset
*************************
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: var(--lh-default);
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  position: relative;
  overflow-x: clip;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: var(--lh-tight);
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:is(:link, :visited) {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* 
*************************
- Reusable Classes
*************************
*/

.wrapper {
  width: min(calc(100% - var(--space-8)), 90rem);
  margin-inline: auto;
}

.flex {
  display: flex;
}
.flex-items-center {
  align-items: center;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}

.gap-1 {
  gap: var(--space-1);
}
.gap-2 {
  gap: var(--space-2);
}
.gap-3 {
  gap: var(--space-3);
}
.gap-4 {
  gap: var(--space-4);
}
.gap-5 {
  gap: var(--space-5);
}
.gap-6 {
  gap: var(--space-6);
}
.gap-7 {
  gap: var(--space-7);
}
.gap-8 {
  gap: var(--space-8);
}
.gap-9 {
  gap: var(--space-9);
}
.gap-10 {
  gap: var(--space-10);
}
.gap-11 {
  gap: var(--space-11);
}

.heading-primary,
.heading-secondary,
.heading-tertiary,
.heading-quaternary {
  font-family: var(--ff-fraunces);
}

.heading-primary {
  font-size: var(--fs-900);
  font-weight: var(--fw-600);
}

.heading-secondary {
  font-size: var(--fs-800);
}

.heading-tertiary {
  font-size: var(--fs-700);
}

.heading-quaternary {
  font-size: var(--fs-600);
}

.btn {
  --clr-border-outline: var(--clr-neutral-400);
  --clr-border-fill: transparent;
  border: none;
  background: none;
  display: inline-flex;
  padding: var(--space-2) var(--space-6);
  border-radius: 100vmax;
  border: 1px solid;
  outline: none;
  font-weight: var(--fw-500);
  cursor: pointer;
  transition: background-color 300ms;
}

.btn--outline {
  border-color: var(--clr-border-outline);
}
.btn--outline:is(:hover, :focus-visible) {
  background-color: var(--clr-neutral-200);
}
.btn--fill {
  border-color: var(--clr-border-fill);
  background-color: var(--clr-black-900);
  color: var(--clr-neutral-100);
}
.btn--fill:is(:hover, :focus-visible) {
  background-color: var(--clr-neutral-800);
}

.tag {
  font-family: var(--ff-dm-mono);
  color: var(--clr-neutral-600);
  text-transform: uppercase;
  font-size: var(--fs-200);
  letter-spacing: 1px;
  display: block;
}

/* 
*************************
- Sidebar & Nav
*************************
*/

#nav-toggle,
.header__menu-icon--close {
  display: none;
}

.main:has(#nav-toggle:checked) .header__menu-icon--close {
  display: block;
}
.main:has(#nav-toggle:checked) .header__menu-icon--open {
  display: none;
}

.main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 5rem 1fr;
}

.sidebar {
  width: auto;
  min-height: calc(100dvh - 5rem);
  background-color: var(--clr-neutral-100);
  padding-inline: var(--space-6);
  position: fixed;
  transform: translateX(-100%);
  top: 5rem;
  display: grid;
  grid-template-rows: 1fr auto;
  z-index: 999;
  isolation: isolate;
  transition: transform 300ms ease-out 150ms;
}

.main:has(#nav-toggle:checked) .sidebar {
  transform: translateX(0);
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-color: hsl(33 15% 15 / 0.1);
  backdrop-filter: blur(5px);
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 300ms ease-out;
}

body:has(#nav-toggle:checked)::before {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  transform: scaleX(1);
}

body:has(#nav-toggle:checked) {
  overflow: clip;
}

.sidebar__content {
  padding-block: var(--space-4);
  border-bottom: 2px dashed var(--clr-neutral-400);
  border-top: 2px solid var(--clr-neutral-400);
  display: grid;
  grid-auto-rows: 1fr auto;
}

.header {
  background-color: var(--clr-neutral-100);
  position: relative;
  z-index: 999;
  border-bottom: 1px dotted var(--clr-neutral-400);
}

/* .main:has(#nav-toggle:checked) .header {
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
} */

.nav__list {
  display: grid;
  gap: var(--space-2);
}

.nav__link:is(:link, :visited) {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  padding: var(--space-2) var(--space-3);
  color: var(--clr-terracotta-700);
  font-weight: var(--fw-500);
}

.nav__link--active {
  background-color: var(--clr-neutral-0);
  color: var(--clr-black-900);
  border-radius: 0.375rem;
}

.nav__link-noti {
  margin-inline-start: auto;
  width: 1.3rem;
  height: 1.3rem;
  display: grid;
  place-items: center;
  background-color: var(--clr-terracotta-700);
  color: var(--clr-neutral-100);
  border-radius: 50%;
  font-size: var(--fs-200);
  font-weight: var(--fw-500);
}

.weather {
  background-color: var(--clr-sun-300);
  padding: var(--space-4);
  border-radius: 1rem;
  position: relative;
  overflow: clip;
  color: var(--clr-neutral-700);
  box-shadow: 5px 10px 20px hsl(33 15% 15% / 0.1);
  isolation: isolate;
}
.weather__icon {
  position: absolute;
  top: -25%;
  right: 0;
  z-index: -1;
}
.weather__location {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: var(--fs-200);
  font-weight: var(--fw-500);
  margin-block-end: var(--space-3);
}

.weather__temp {
  font-family: var(--ff-fraunces);
  font-size: var(--fs-800);
  line-height: var(--lh-tight);
  font-weight: var(--fw-600);
  margin-block-end: var(--space-1);
}

.weather__temp sup {
  display: inline-block;
  vertical-align: top;
}

.weather__weather {
  font-size: var(--fs-200);
}

.footer {
  font-size: var(--fs-200);
  padding-block: var(--space-4);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer span {
  display: block;
  line-height: 2.5;
}

.hero {
  padding-block: var(--space-6);
}

.hero__header {
  margin-block-end: var(--space-15);
}

.hero__header-text {
  font-family: var(--ff-dm-mono);
  text-transform: uppercase;
  color: var(--clr-neutral-600);
  font-size: var(--fs-300);
  letter-spacing: 1px;
  display: inline-block;
  margin-block-end: var(--space-2);
}

.hero__header-heading span {
  color: var(--clr-terracotta-500);
  font-style: italic;
}

.hero__card--welcome {
  z-index: 2;
  transform: rotate(4deg) translate(-3.6rem);
}

.hero__cards-wrapper {
  position: relative;
}

.hero__sun-img {
  position: absolute;
  inset: 58% 50%;
  transform: translate(-50%, -58%) scale(0);
  display: none;
  transition: transform 300ms ease-in-out;
}

.card {
  padding: var(--space-6) var(--space-4);
  border-radius: 20px;
  z-index: 1;
  flex: 1;
  max-width: 40rem;
  max-height: 45rem;
  transition: transform 300ms ease-in-out;
}

.card--welcome {
  background: linear-gradient(
    to bottom,
    var(--clr-terracotta-400) 0%,
    var(--clr-terracotta-500) 50%,
    var(--clr-terracotta-700) 100%
  );
  color: var(--clr-sun-50);
  position: relative;
  transform: rotate(2deg) translateY(-1rem);
  box-shadow:
    0 20px 40px -200px #c25a2e8c,
    0 50px 80px -30px #a9421f73,
    inset 0 0 0 1px #fff4dc1f;
  z-index: 2;
}

.card--welcome::before {
  content: url("../assets/images/icon-sun.svg");
  position: absolute;
  top: 10%;
  right: 5%;
}

.card--welcome .tag {
  color: var(--clr-sun-50);
}

.card__welcome {
  padding-block-start: var(--space-3);
  border-top: 2px dashed var(--clr-terracotta-400);
}
.card__note,
.card__name {
  font-family: var(--ff-fraunces);
  font-style: italic;
}
.card__note {
  color: var(--clr-sun-300);
  margin-block-start: var(--space-10);
  margin-block-end: var(--space-2);
  font-size: var(--fs-600);
  font-weight: var(--fw-500);
}

.card__name {
  margin-block-end: var(--space-8);
}

.card__message {
  font-size: var(--fs-400);
  max-width: 55ch;
  margin-block-end: var(--space-15);
}

.card--receipt {
  background-color: var(--clr-neutral-0);
  transform: rotate(-2deg);
  box-shadow:
    0 1px #00000008,
    0 16px 30px -20px #3e2c1e59,
    0 20px 40px -30px #3e2c1e29;
}

.card__dates {
  padding-block: var(--space-6);
  margin-block: var(--space-3);
  border-top: 2px dashed var(--clr-neutral-200);
  border-bottom: 2px dashed var(--clr-neutral-200);
  text-align: center;
}

.card__dates .tag {
  margin-block-end: var(--space-3);
}

.card__time {
  font-size: var(--fs-200);
  color: var(--clr-neutral-600);
}

.card__service {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__price {
  font-size: var(--fs-300);
}

.card__details {
  padding-block-start: var(--space-2);
  margin-block-start: var(--space-3);
  border-top: 2px solid var(--clr-neutral-400);
}

.hero__cards-instruction {
  --sparkle-pos: calc(var(--space-4) * -1);
  position: relative;
  display: none;
}

.hero__cards-instruction::before,
.hero__cards-instruction::after {
  content: url(../assets/images/icon-sparkle.svg);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hero__cards-instruction::before {
  left: var(--sparkle-pos);
}
.hero__cards-instruction::after {
  right: var(--sparkle-pos);
}

@media (min-width: 62.5rem) {
  .hero__cards-wrapper {
    flex-direction: row;
  }

  .card--receipt {
    order: 1;
    transform: rotate(-4.5deg);
  }
  .card--welcome {
    transform: rotate(4.5deg);
    order: 2;
  }

  .hero__cards-wrapper:hover .card--receipt {
    transform: rotate(4deg) translateX(-3rem);
  }
  .hero__cards-wrapper:hover .card--welcome {
    transform: rotate(-4deg) translateX(3rem);
  }

  .hero__cards-wrapper:hover .hero__sun-img {
    transform: translate(-50%, -58%) scale(0.5);
  }

  .hero__cards-instruction {
    display: inline-block;
    margin-block-start: var(--space-2);
  }

  .hero__sun-img {
    display: block;
  }
}

@media (min-width: 87.5em) {
  .main {
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 5rem 1fr;
    grid-template-areas:
      "header hero hero"
      "sidebar hero hero";
  }

  .header {
    grid-area: header;
    border: none;
  }
  .hero {
    grid-area: hero;
    border-left: 1px solid var(--clr-neutral-400);
  }
  .sidebar {
    width: auto;
    height: auto;
    position: static;
    transform: translateX(0);
    grid-area: sidebar;
  }

  body::before {
    display: none;
  }

  .header__menu {
    display: none;
  }
}
